#SPDX-License-Identifier: MIT-0
---
# tasks file for mysql
- name: install tools
  apt: name={{item}} state=present update_cache=yes
  with_items:
    - python3-mysqldb

- name: install mysql-server
  apt: name=mysql-server state=present update_cache=yes

- name: chmod cnf
  command: chmod 777 /etc/mysql/my.cnf

- name: ensure mysql listening on all ports
  lineinfile: dest=/etc/mysql/my.cnf regexp=^bind-address line="bind-address = 0.0.0.0"
  notify: restart mysql

- name: ensure mysql started
  service: name=mysql state=started enabled=yes

#- name: set root password
#  command: mysql -uroot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'; FLUSH PRIVILEGES;"

#- name: create demo database
#  command: mysql -uroot -e "CREATE DATABASE IF NOT EXISTS demo"

#- name: create demo user
#  command: mysql -uroot -e "CREATE USER IF NOT EXISTS 'demo'@'%' IDENTIFIED BY 'demo'"
